*{
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: red;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: #15151D;
}

header img {
    height: 90px;
    width: 90px;
}

header nav {
    background-color: transparent;
    height: 90px;
    display: inline;
}

header nav ul {
    list-style: none;
    padding: 40px;
}

header nav ul li {
    display: inline;
    margin: 5px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.first_section {
    height: 100vh;
    background-image: url(/img/imagen-section.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.second_section {
    height: 100vh;
    background-image: url(/img/45301hd.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.second_section div {
    display: flex;
    justify-content: center;
}
.second_section h1{
    color: antiquewhite;
    font-size: 100px;
    text-align: center;
}

.second_section div p {
    color: black;
    font-weight: 700;
    font-size: 15px;
    margin: 5px;
}

.third_section {
    display: flex;
    justify-content: center;
    height: 100vh;
}
.third_section iframe {
  margin-top: 50px;
}

.fourth_section {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.fourth_section iframe {
    margin-top: 25px;
}

.fifth_section {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 10%;
}

.fifth_section form {
    border: #15151D solid 2px;
    height: 300px;
    padding: 25px;
}

.fifth_section form label {
    display: block;
}

.fifth_section form input {
    display: block;
}

.fifth_section form li {
    list-style: none;
    margin: 15px;
}

.fifth_section form textarea {
    width: 260px;
    height: 110px;
}
footer {
    background-color: #15151D;
    height: 45px;
    padding: 10px;
}

footer p {
    color: wheat;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}